.content {
  display: flex;

  margin-bottom: 20px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.company {
  display: flex;
  flex: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;

  border-right: 1px solid #ebeff2;

  @media (max-width: 900px) {
    padding: 20px 10px;
    flex: 25%;
  }
}

.carrier {
  padding-bottom: 20px;
  font-size: 20px;
  color: #192d80;
}

.price {
  width: 100%;
  padding: 8px 0;

  font-size: 16px;
  color: #fff;

  background-color: #ff6d00;
  border: 1px solid #ff6d00;
  border-radius: 10px;

  p {
    &:first-child {
      padding-bottom: 6px;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: #ff820e;
  }

  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.route {
  flex: 75%;
  padding: 20px;

  @media (max-width: 900px) {
    padding: 20px 10px;
    flex: 70%;
  }
}

.time {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.stops {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 50px;

  @media (max-width: 900px) {
    padding: 0 30px;
  }

  @media (max-width: 450px) {
    padding: 0 20px 0 10px;
  }
}

.stops_text {
  padding-bottom: 5px;
  font-size: 18px;
  color: #bec5c7;

  @media (max-width: 900px) {
    font-size: 16px;
  }

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.time_text {
  font-size: 42px;

  @media (max-width: 920px) {
    font-size: 32px;
  }

  @media (max-width: 450px) {
    font-size: 22px;
  }
}

.line {
  position: relative;

  display: block;

  width: 100%;
  height: 2px;

  background-color: #bec5c7;

  &::after {
    content: url("../../img/airplane.svg");
    position: absolute;
    top: -9px;
    right: -22px;
  }
}

.airport_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.airport {
  padding-top: 8px;
}

.source {
  padding-bottom: 3px;
  font-size: 14px;

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.date {
  color: #bec5c7;

  @media (max-width: 450px) {
    font-size: 12px;
  }
}

.luggage {
  display: flex;

  border: 1px solid #bec5c7;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;

  @media (max-width: 500px) {
    padding: 2px;
  }
}

.luggage_price {
  display: block;
  color: #2b75fe;
}

.luggage_text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 5px;
  width: 115px;

  @media (max-width: 950px) {
    font-size: 14px;
    padding-right: 0px;
    width: 100px;
  }

  @media (max-width: 500px) {
    width: 40px;
    font-size: 12px;
    padding-right: 10px;
  }
}
